table {
  margin: 0 auto;
  border-radius: 10px;
  /* width: calc(100% - 40px); */
  background: hsla(42, 78%, 78%, 0.96);
}

th,
td {
  vertical-align: top;
  text-align: center;
}
#display {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-family: cursive;
  background: #000000;
  color: #fff;
}
.excellent {
  /* text-shadow: 0px 0px 20px gold; */
  color: gold;
}
.fair {
  /* text-shadow: 0px 0px 20px rgb(122, 140, 223); */
  color: rgb(122, 140, 223);
}
.good {
  /* text-shadow: 0px 0px 20px blue; */
  color: blue;
}
.poor {
  /* text-shadow: 0px 0px 20px red; */
  color: red;
}
.form-input {
  display: inline-block;
  width: 60%;
  height: 25px;
  margin: auto;
  border: none;
}
#button {
  margin: 7px;
  width: 200px;
  height: auto;
  background: #066;
  color: #fff;
  left: 0;
}
#button1 {
  margin: 3px;
  width: auto;
  height: 36px;
  background: rgb(0, 36, 102);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.select {
  border: none;
  border-radius: 3px;
  background: #8c7771;
  height: 30px;
  display: inline-block;
  margin: auto;
}
form {
  padding: 20px;
}
fieldset {
  margin-bottom: 20px;
  border-radius: 4px;
}
legend {
  font-weight: 800;
}
.btnAdd {
  width: 100px;
  height: 33px;
  background-color: #3d4dad;
  box-shadow: 1px 1px 2px 0px black;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}
.btnAdd:hover {
  box-shadow: 1px 3px 4px 0px black;
}
.newcourse {
  border: 0;
  border-bottom: 2px solid;
  background: transparent;
  color: #000000;
  width: 80%;
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
}
.newcourse:focus {
  border: 0;
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 5);
}

.holder {
  background: rgba(255, 255, 255, 0.384);
  padding-bottom: 1px;
}

p {
  text-align: center;
  margin: 30px 0;
  color: gray;
}
.alert {
  font-size: 12px;
  color: rgb(255, 26, 26);
  background-color: #d0cdbd96;

  padding: 0 10px;
  font-weight: 800;
}
.container {
  box-shadow: 0px 0px 40px rgb(255, 255, 255);
}
