form {
    padding: 20px
}

.newcourse {
    border: 0;
    border-bottom: 2px solid;
    background: transparent;
    color: #000000
}

.newcourse:focus {
    border: 0;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 5);
}

.LevelA {
    background: gold;
}

.LevelB {
    background: rgb(14, 53, 182);
    color: #fff
}

.LevelC {
    background: #bb0404;
    color: cornsilk
}

.holder {
    background: rgb(209, 209, 209);
    padding-bottom: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #e0edf4;
    border-left: 5px solid #3eb3f6;
    color: #3e5252;
    margin-bottom: 2px;
}

.alert {
    font-size: 12px;
    color: rgb(212, 212, 212);
    background-color: #9e8f3796;
    /* width: 100%; */
    padding: 0 10px;
}

p {
    text-align: center;
    margin: 30px 0;
    color: gray;
}

.container {
    box-shadow: 0px 0px 40px lightgray;
}

input {
    width: 80%;
    border: 0;
    padding: 5px;
    font-size: 1em;
    background-color: #323333;
    color: #687f7f;
}

table {
    margin: 0 auto;
    border-radius: 10px;
    min-width: 300px;
    background: hsla(42, 78%, 78%, 0.96);
    box-shadow: 4px 4px 8px 10px;
}

th,
td {
    vertical-align: top;
}

.footer {
    position: relative;
    bottom: 0;
    height: 300px;
    background: #5876e4;
    width: 100%;
}

.form-input {
    display: inline-block;
    width: 60px;
    height: 25px;
    margin: auto;
    border: none;
}

#button {
    margin: 7px;
    width: 200px;
    height: auto;
    background: #066;
    color: #fff;
    left: 0
}

#button1 {
    margin: 3px;
    width: auto;
    height: 50px;
    background: #066;
    color: #fff;
    border: 0;
    cursor: pointer;
}

select {
    border: none;
    border-radius: 3px;
    background: #8c7771;
    height: 30px;
    display: inline-block;
    margin: auto;
}